{{ ansible_managed | comment('xml') }}
<html>
<head>
<title> --- Clear Score --- </title>
</head>
<body>
<h2>NGINX - {{ ansible_hostname }}</h2>
<hr>
<p>
*Lorem Ipsum* - <a href="https://en.wikipedia.org/wiki/Lorem_ipsum">Link to Wikipedia</a>
</p>
<hr>
</body>
</html>
